$noi-yellow: #d9b549;
$noi-orange: #ed5c42;
$noi-green: #008793;
$noi-purple: #523080;

.b-above-header {
    padding: 5px;
    &.m-blue { background-color: darken($blue, 2); }
}

.b-form.m-negative {
    select {
        background-color: rgba($white, .2);
        color: $white;
        margin: 0;
    }
}

.b-landing-section {
    padding: 60px 0 0;
    text-align: center;

    &.m-blue { background-color: $blue; }

    h1 {
        font-size: 1.3rem;
        font-weight: 300;
        color: $white;
        margin: 30px 0;
    }

    .b-main-logo > img {
        max-width: 460px;
    }

    .b-button {
        margin: 40px 0 60px;
        color: $white;
    }

    footer {
        background-color: rgba($black, .1);
        padding: 15px 0;
    }
}

.b-divider {
    &.m-large { padding: 40px 0; }

    h3 { text-align: center; }
}

.b-noi-categories {
    background-color: $blue;
    padding-bottom: 0;

    .large-3:nth-child(2) .e-category,
    .large-3:nth-child(4) .e-category,
    .large-3:nth-child(5) .e-category,
    .large-3:nth-child(7) .e-category { background-color: rgba($black, .05); }

    h2 {
        font-size: 1.1rem;
        padding: 15px 40px;
        text-align: center;
        color: $white;
        text-transform: none;
    }

    .e-category {
        width: 100%;
        padding: 35% 0 45%;
        height: 0;
        text-align: center;
        background-color: transparent;
        color: $white;
        position: relative;

        img {
            opacity: .1;
            position: absolute;
            max-width: 80%;
            max-height: 80%;
            top: 10%;
            left: 20%;
            transition: all 1s ease;

            &:hover {
                transform: rotate(360deg);
                transition: all 1s ease;
            }
        }

        h3 { font-size: 1.1rem; }
    }

    .m-open-data {
    }

    .m-community-engagement {
    }

    .m-citizen-science {
    }

    .m-crowdsourcing {
    }

    .m-lab-design {
    }

    .m-prizes {
    }

    .m-data-science {
    }

    .m-randomized-controlled-trials {
    }
}

.b-overview-graph {
    .e-graph-item {
        position: relative;
        padding: 20px;
        height: 120px;

        h3 {
            color: $white;
        }

        span {
            color: $white;
            float: right;

        }

        &:nth-of-type(even) {
            background-color: rgba($black, .1);
        }
    }

    .e-bars {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;
        overflow: hidden;
    }

    .e-bar {
        height: 150px;
        float: left;
        display: inline-block;

        &.m-yellow { background-color: $noi-yellow; }
        &.m-orange { background-color: $noi-orange; }
        &.m-green { background-color: $noi-green; }
        &.m-purple { background-color: $noi-purple; }
    }
}


.b-gallery-section {
    margin-top: 0;
}

.b-slider.m-news {
    .b-slide {
        width: 100vw;
        padding: 0;

        h4 {
            font-size: 1.1rem;
            text-transform: uppercase;
            opacity: .4;
        }

        p {
            font-size: 1.1rem;
        }

        .e-band {
            padding: 24px 0;
            background-color: rgba($black, .2);
        }

        .e-slide-content {
            padding: 40px 0 24px;
        }
    }
}

.b-slider.m-mobile-screens {
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #333;

    @include breakpoint($desktop) {
        margin-bottom: -95px;
        padding-top: 40px;
        // margin-top: 40px;
    }

    .slick-list {
        @include breakpoint($desktop) { padding-bottom: 15px !important; }
    }

    .b-slide {
        display: inline-block;
        outline: none;
        text-align: center;
        width: 400px;
        transition: all 0.5s ease;

        header {
            transition: all 0.5s ease;

            h4 {
                padding: 0 10px;
            }
        }

        img {
            max-width: 300px;
            margin: 0 auto;
            transition: all 0.5s ease;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);

            @include breakpoint($mobile-only) { max-height: 240px; }
            @include breakpoint($tablet) { max-height: 360px; }
            @include breakpoint($desktop) { max-height: 500px; }
        }

        // &:not(.slick-current) img,
        // &:not(.slick-current) header {
        //     transform: scale(.7);
        // }

        &:not(.slick-current) {
            transform: scale(.8);
            transform-origin: 10%;
            transition: all 0.5s ease-in;
        }
    }
}

.b-footer {
    text-align: center;

    p { padding-top: 20px; }

    .e-utilities {
        margin: 10px;

        .b-button.m-naked {
            margin: 0;
        }
    }
}

.b-flags {
    text-align: center;

    .e-flag {
        width: 60px;
        height: 60px;
        background-color: #FFF;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 15px;
    }

    .m-uk { background-image: url("../img/flags/united-kingdom-flag.png") }
    .m-us { background-image: url("../img/flags/united-states-flag.png") }
    .m-chile { background-image: url("../img/flags/chile-flag.png") }
    .m-spain { background-image: url("../img/flags/spain-flag.png") }
    .m-mexico { background-image: url("../img/flags/mexico-flag.png") }
    .m-argentina { background-image: url("../img/flags/argentina-flag.png") }
    .m-south-australia { background-image: url("../img/flags/south-australia-flag.png") }
}



#wp-slider {
    .b-slide {
        @include breakpoint(0px 550px) {
            // background-color: red;
            min-height: 490px;
            padding: 20px 0;
        }
        @include breakpoint(550px 640px) {
            // background-color: blue;
            min-height: 420px;
            padding: 20px 0;
        }
        @include breakpoint(640px 800px) {
            // background-color: teal;
            min-height: 400px;
            padding: 20px 30px;
        }
        @include breakpoint(800px 1000px) {
            // background-color: orange;
            min-height: 380px;
            padding: 20px 40px;
        }
        @include breakpoint(1000px) {
            // background-color: green;
            min-height: 410px;
            padding: 20px 80px;
        }

    }
}

.slick {
    @include breakpoint(0px 640px) {
        .slick-arrow {
            visibility: hidden;
        }
    }
    @include breakpoint(640px) {
        .slick-arrow {
            visibility: visible;
        }
    }
}
